* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  background-color: rgb(95, 19, 19);
}
.title {
  text-align: center;
  padding: 30px;
  color: coral;
  font-family: "Courier New", Courier, monospace;
}

input {
  width: 400px;
  height: 30px;
  border: none;
  font-size: 18px;
}

button {
  width: 100px;
  height: 30px;
  border: none;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: aliceblue;
}

#Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#time_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 50px;
}

/* #tong,
#quyosh,
#peshin,
#asr,
#shom,
#xufton {
  border: 1px solid none;
  padding: 10px;
  height: 80px;
  width: 100px;
  text-align: center;
  box-shadow: 3px 3px 3px 3px rgb(147, 10, 10);
} */

#tong,
#quyosh,
#peshin,
#asr,
#shom,
#xufton {
  color: aliceblue;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid blue;
  width: 100px;
  text-align: center;
  height: 70px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: rgb(249, 142, 66);
}
